# Exercice:

Le premier ensemble de données contient des données quotidiennes sur la météo et l’énergie générée par les panneaux solaires à un endroit particulier (fichier: `power_and_weather.csv`). Voici les variables qu’il contient :

`temperature_min:` la température minimale en ºC.  
`temperature_max:` la température maximale en ºC.  
`humidity_min:` l’humidité minimale  
`humidity_max:` l’humidité maximale  
`rain_vol:` le volume de pluie en mm.  
`kwh:` la quantité d’énergie produite.

In [ ]:
import pandas as pd

**Question 1:** importer les données et afficher les 7 premiers lignes

**Question 2:** Afficher le type de données de chaque colonne

__Question 3:__ Que represente le type de données `object`? Quels sont les type de données de base en Pandas?

__Question 4:__ Convertir le type de données de la colonne date en `datetime64`

__Question 5:__ Comment est il possible de charger le fichier, en spécifiant directement le type `datetime` pour la colonne `date`.

__Question 6:__ Comment est il possible de charger le ficher en spécifiant le type de données des colonnes lors du chargement?

__Question 7:__ Peut on utiliser la colonne date comme index. si oui, comment?

__Question 8:__ calculer les ocurrences des élèments d'indice date

__Question 9:__ identifier les indices en double, et afficher la table resultante

__Question 10:__ enlever les valeurs en double (toutes colonnes ensembles), du fichier

__Question 11:__ renommer les valeurs de la colonne `quarter`: Quarter 1 en Q1, Quarter 2 en Q2, etc...

__Question 12:__ arrondir les valeur de la colonne `rain_vol` a seulement un chiffre après la virgule

__Question 13:__ renommer les colonnes du dataframe en des titres en francais.

**Question 14:** enregistrer le dataframe resultant dans un fichier nommeé `power_and_weather_modified`

**Question 15:** Afficher la moyenne de `temperature_max` arrondi à deux chiffres après la virgule

**Question 16:**  Afficher la moyenne de `temperature_max` arrondi à deux chiffres après la virgule pour le premier quart

Le tableau ci-dessous contient la température maximale moyenne et la production d’électricité par trimestre de l’année :
Quartier|	temperature_max|	Kwh
--|--|--
1|	29.27|	32.88
2|	26.45|	25.19
3|	27.11|	24.36
4|	26.92|	26.77

__Question 16:__ Reproduire ce tableau